# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.sqlite3
*.log

# Django stuff
*.pyc
*.pyo
*.pyd
db.sqlite3
*.sqlite3

# Environment
.env
venv/
env/

# VSCode
.vscode/

# Mac
.DS_Store

# Python virtual environment
*.egg-info/
.env
